<html>
<pre>

 _  .-')     ('-.         .-') _  _ .-') _               _   .-')            .-')      ('-.       .-') _   .-')      ('-.            
( \( -O )   ( OO ).-.    ( OO ) )( (  OO) )             ( '.( OO )_         ( OO ).  _(  OO)     ( OO ) ) ( OO ).  _(  OO)           
 ,------.   / . --. /,--./ ,--,'  \     .'_  .-'),-----. ,--.   ,--.)      (_)---\_)(,------.,--./ ,--,' (_)---\_)(,------.  ,-.-')  
 |   /`. '  | \-.  \ |   \ |  |\  ,`'--..._)( OO'  .-.  '|   `.'   |       /    _ |  |  .---'|   \ |  |\ /    _ |  |  .---'  |  |OO) 
 |  /  | |.-'-'  |  ||    \|  | ) |  |  \  '/   |  | |  ||         |       \  :` `.  |  |    |    \|  | )\  :` `.  |  |      |  |  \ 
 |  |_.' | \| |_.'  ||  .     |/  |  |   ' |\_) |  |\|  ||  |'.'|  |        '..`''.)(|  '--. |  .     |/  '..`''.)(|  '--.   |  |(_/ 
 |  .  '.'  |  .-.  ||  |\    |   |  |   / :  \ |  | |  ||  |   |  |       .-._)   \ |  .--' |  |\    |  .-._)   \ |  .--'  ,|  |_.' 
 |  |\  \   |  | |  ||  | \   |   |  '--'  /   `'  '-'  '|  |   |  |       \       / |  `---.|  | \   |  \       / |  `---.(_|  |    
 `--' '--'  `--' `--'`--'  `--'   `-------'      `-----' `--'   `--'        `-----'  `------'`--'  `--'   `-----'  `------'  `--'    
</pre>
<img src="http://static1.squarespace.com/static/50859abae4b0f4598aabab2b/t/524c88d7e4b0f37df6ba6b6f/1380747504038/black-dynamite-kung-fu.gif" />
</html>